:root{
     --blue: hsl(223, 87%, 63%);
     --pale-blue: hsl(223, 100%, 88%);
     --light-red: hsl(354, 100%, 66%);
     --gray: hsl(0, 0%, 59%);
     --very-dark-blue: hsl(209, 33%, 12%);
     
 }
 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

  img{
       width: 100%;
       height: auto;
   }
.hide{
    position:absolute;
    padding-left: 2rem;
    color: var(--light-red);
    display: none;
}
.error{
  border: 1px solid var(--light-red);
}

.all{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    
}

.logo{
  margin: 2rem 0;
  width: 80px;
  height: 80px;
}
.content{
    display: grid;
    grid-gap: 1.5rem;
    
}
.content h1{
    font-weight: 300;
    color: var(--gray);
}
.content span{
    font-weight: 600;
    color: #000;
}
.content p{
    margin: 5px 0;
    font-weight: 300;
    font-size: 15px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  position: relative;
}
.email{
    margin-right: 15px;
    width: 365px;
    border: 1px solid var(--pale-blue);
}
.submit{
    width: 150px;
    border: 1px solid var(--pale-blue);
    background: var(--blue);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.submit:hover{
    background: var(--pale-blue);
}
 
.btn{
    border-radius: 50px;
    height: 44px;
}
.footer1{
    margin-top: 55px;
    color: var(--blue);
}
.footer1 p{
    color: var(--gray);
    margin-top: 10px;
}
.fab{
    margin: 0 5px;
    padding: 5px;
    border: 1px solid var(--pale-blue);
    border-radius: 100px;
}
.fab:hover{
    color: var(--pale-blue);
}

@media screen and (max-width: 615px){
   body
   { margin-left: 40px;
   font-size: 15px;
   }

   .submit{
       width:365px;
       margin-top: 25px;
       margin-right: 11px;
   }
  .hide{
    padding-left: 4rem;
  }
}
.logo-img{
    width: 200px;
}


